<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>create memo</title>
  </head>
  <body>
    <header>
      <div class="header-container">
        <a href="/">トップ</a>
        &nbsp;>&nbsp;
        <a href="/login">ログイン</a>
        &nbsp;>&nbsp;
        <a href="/category">カテゴリー</a>
        &nbsp;>&nbsp;
        <a href="/list/<%= categoryIndex %>"><%= selectedCategory %></a>
        &nbsp;>&nbsp;メモ作成
      </div>
    </header>
    <main>
      <div class="create-list">
        <h1>Create New List</h1>

        <form action="/list/<%= categoryIndex %>" method="post">
          <label for="shop-name">店名・施設名</label>

          <!-- 入力値のエラー表示 -->
          <% if (Object.keys(errors).length > 0) { %>
          <p class="error"><%= errors.shopName %></p>
          <% } %>

          <input
            id="shop-name"
            class="shop-name"
            name="name"
            type="text"
            placeholder="〇〇ショップ"
            value="<%= shopName %>"
          />
          <label for="place">場所</label>

          <!-- 入力値のエラー表示 -->
          <% if (Object.keys(errors).length > 0) { %>
          <p class="error"><%= errors.shopLocation %></p>
          <% } %>
          <!-- <form action="" method="post"> -->
          <input
            id="place"
            class="place"
            name="location"
            type="text"
            placeholder="〇〇駅"
            value="<%= shopLocation %>"
          />
          <!-- <input class="show-map-button" type="submit" value="表示" />
          </form> -->

          <label for="memo">メモ</label>

          <!-- 入力値のエラー表示 -->
          <% if (Object.keys(errors).length > 0) { %>
          <p class="error"><%= errors.shopDescription %></p>
          <% } %>

          <textarea
            name="description"
            id="memo"
            cols="30"
            rows="10"
            placeholder="あいうえお"
          >
<%= shopDescription %></textarea
          >
          <br />
          <input class="create-button" type="submit" value="作成" />
        </form>

        <form id="shop-form">
          <label for="shop-name">店名・施設名</label>
          <input
            id="shop-name"
            class="shop-name"
            name="shop-name"
            type="text"
            placeholder="〇〇ショップ"
            value="<%= shopName %>"
          />
          <button type="submit">表示</button>

          <div class="show-map" id="show-map"></div>
        </form>
      </div>

      <div class="shop-location">
        <script type="text/javascripts" src="/javascripts/showMap.js"></script>
      </div>
    </main>
  </body>
</html>
