<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>delete category</title>
  </head>
  <body>
    <header>
      <a href="/category">カテゴリー一覧</a>
    </header>
    <main>
      <div class="delete-category">
        <h1>Delete Category</h1>
        <form action="/category/delete" method="post">
          <% shopCategories.forEach(shopCategory => { %>
          <!-- <input
            type="checkbox"
            id="<%= shopCategory %>"
            name="<%= shopCategory %>"
          />
          <label for="<%= shopCategory %>"><%= shopCategory %></label> -->
          <label
            ><input type="checkbox" name="<%= shopCategory %>" /><%=
            shopCategory %></label
          >
          <% }) %>
          <input class="button" type="submit" value="削除" />
        </form>
      </div>
    </main>
  </body>
</html>
