<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>CreateList</title>
  </head>
  <body>
    <header><%- include('header'); %></header>
    <main>
      <h1><%= `${selectedCategory} Update List` %></h1>

      <!-- 選択したlistIDに情報がない場合の表示 -->
      <% if (errorMessage.length !== 0) { %>
      <h2><%= errorMessage %></h2>

      <!-- 選択したlistIDに情報がある場合の表示 -->
      <% } else { %>
      <form
        action="/list/<%= categoryIndex %>/update/<%= shopId %>"
        method="post"
      >
        <p>店名・施設名</p>

        <!-- 入力値のエラー表示 -->
        <% if (Object.keys(errors).length > 0) { %>
        <p class="error"><%= errors.shopName %></p>
        <% } %>

        <input class="" name="name" type="text" value="<%= shopName %>" />

        <p>場所</p>

        <!-- 入力値のエラー表示 -->
        <% if (Object.keys(errors).length > 0) { %>
        <p class="error"><%= errors.shopLocation %></p>
        <% } %>

        <input
          class=""
          name="location"
          type="text"
          value="<%= shopLocation %>"
        />

        <p>メモ</p>

        <!-- 入力値のエラー表示 -->
        <% if (Object.keys(errors).length > 0) { %>
        <p class="error"><%= errors.shopDescription %></p>
        <% } %>

        <textarea name="description" id="text" cols="30" rows="10">
<%= shopDescription %></textarea
        >
        <br />
        <input class="button" type="submit" value="更新" />
      </form>

      <% } %>
    </main>
    <footer></footer>
  </body>
</html>
