<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Edit memo</title>

    <!-- Dynamic Library Importを使用してMaps JavaScript APIを読み込む -->
    <script>
      ((g) => {
        var h,
          a,
          k,
          p = "The Google Maps JavaScript API",
          c = "google",
          l = "importLibrary",
          q = "__ib__",
          m = document,
          b = window;
        b = b[c] || (b[c] = {});
        var d = b.maps || (b.maps = {}),
          r = new Set(),
          e = new URLSearchParams(),
          u = () =>
            h ||
            (h = new Promise(async (f, n) => {
              await (a = m.createElement("script"));
              e.set("libraries", [...r] + "");
              for (k in g)
                e.set(
                  k.replace(/[A-Z]/g, (t) => "_" + t[0].toLowerCase()),
                  g[k]
                );
              e.set("callback", c + ".maps." + q);
              a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
              d[q] = f;
              a.onerror = () => (h = n(Error(p + " could not load.")));
              a.nonce = m.querySelector("script[nonce]")?.nonce || "";
              m.head.append(a);
            }));
        d[l]
          ? console.warn(p + " only loads once. Ignoring:", g)
          : (d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)));
      })({
        key: "<%= apiKey %>",
        v: "weekly",
        // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
        // Add other bootstrap parameters as needed, using camel case.
      });
    </script>
    <script type="module" src="/javascripts/map.js"></script>
    <script type="module" src="/javascripts/hotpepper.js"></script>
  </head>
  <body>
    <header>
      <div class="header-container">
        <a href="/">トップ</a>
        &nbsp;>&nbsp;
        <a href="/login">ログイン</a>
        &nbsp;>&nbsp;
        <a href="/category">カテゴリー</a>
        &nbsp;>&nbsp;
        <a href="/memo/<%= categoryIndex %>"><%= selectedCategory %></a>
        &nbsp;>&nbsp;編集
      </div>
    </header>

    <main>
      <div class="edit-memo">
        <!-- DBに情報がない場合 -->
        <% if (errorMessage.length !== 0) { %>
        <h1><%= errorMessage %></h1>

        <!-- DBに情報がある場合 -->
        <% } else { %>
        <form method="post" id="update-memo">
          <label for="shop-name">店名・施設名</label>

          <!-- 入力値が空の場合のエラー表示 -->
          <% if (Object.keys(errors).length > 0) { %>
          <p class="error"><%= errors.shopName %></p>
          <% } %>

          <input
            type="text"
            id="name"
            class="shop-name"
            name="name"
            value="<%= shopName %>"
          />
          <button form="form2" id="show-button">地図表示</button>
          <button form="form3" id="search-button">HOTPEPPER検索</button>

          <div class="map" id="map"></div>

          <input
            type="hidden"
            id="latlng"
            class="latlng"
            name="latlng"
            value="<%= latlng %>"
          />

          <% if (hotpepperLink) { %>
          <ul class="current-hotpepper">
            <input
              type="checkbox"
              name="hotpepper"
              value="<%= hotpepperLink %>"
              checked
            />
            <a href="<%= hotpepperLink %>" target="_blank">HOTPEPPERリンク</a>
          </ul>

          <% }%>

          <ul class="hotpepper" id="hotpepper"></ul>

          <label for="memo">メモ</label>

          <!-- 入力値が空の場合のエラー表示 -->
          <% if (Object.keys(errors).length > 0) { %>
          <p class="error"><%= errors.shopDescription %></p>
          <% } %>

          <textarea name="description" id="memo" cols="30" rows="10">
<%= shopDescription %></textarea
          >
          <br />
          <input
            formaction="/memo/<%= categoryIndex %>/update/<%= shopId %>"
            type="submit"
            form="update-memo"
            class="update-button"
            value="更新"
          />
        </form>

        <script
          defer
          src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&callback=initMap&libraries=places"
        ></script>

        <% } %>
      </div>
    </main>
  </body>
</html>
