<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>edit memo</title>
  </head>
  <body>
    <header>
      <div class="header-container">
        <a href="/">トップ</a>
        &nbsp;>&nbsp;
        <a href="/login">ログイン</a>
        &nbsp;>&nbsp;
        <a href="/category">カテゴリー</a>
        &nbsp;>&nbsp;
        <a href="/list/<%= categoryIndex %>"><%= selectedCategory %></a>
        &nbsp;>&nbsp;編集
      </div>
    </header>

    <main>
      <div class="edit-list">
        <!-- <h1><%= `${selectedCategory} Update List` %></h1> -->

        <!-- 選択したlistIDに情報がない場合の表示 -->
        <% if (errorMessage.length !== 0) { %>
        <h2><%= errorMessage %></h2>

        <!-- 選択したlistIDに情報がある場合の表示 -->
        <% } else { %>
        <form
          action="/list/<%= categoryIndex %>/update/<%= shopId %>"
          method="post"
        >
          <label for="shop-name">店名・施設名</label>

          <!-- 入力値のエラー表示 -->
          <% if (Object.keys(errors).length > 0) { %>
          <p class="error"><%= errors.shopName %></p>
          <% } %>

          <input
            id="shop-name"
            class="shop-name"
            name="name"
            type="text"
            value="<%= shopName %>"
          />

          <label for="place">場所</label>

          <!-- 入力値のエラー表示 -->
          <% if (Object.keys(errors).length > 0) { %>
          <p class="error"><%= errors.shopLocation %></p>
          <% } %>

          <input
            id="place"
            class="place"
            name="location"
            type="text"
            value="<%= shopLocation %>"
          />

          <label for="memo">メモ</label>

          <!-- 入力値のエラー表示 -->
          <% if (Object.keys(errors).length > 0) { %>
          <p class="error"><%= errors.shopDescription %></p>
          <% } %>

          <textarea name="description" id="memo" cols="30" rows="10">
<%= shopDescription %></textarea
          >
          <br />
          <input class="update-button" type="submit" value="更新" />
        </form>

        <% } %>
      </div>
    </main>
  </body>
</html>
