<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>memo list</title>
  </head>
  <body>
    <header>
      <div class="header-container">
        <a href="/">トップ</a>
        &nbsp;>&nbsp;
        <a href="/login">ログイン</a>
        &nbsp;>&nbsp;
        <a href="/category">カテゴリー</a>
        &nbsp;>&nbsp;<%=locals.selectedCategory%>
      </div>
    </header>

    <main>
      <div class="list">
        <a href="/list/<%= categoryIndex %>/edit" class="edit-category"
          ><%= locals.selectedCategory %></a
        >
        <a href=""></a>

        <!-- user_favorite_shopDBに情報がない場合の表示 -->
        <% if (errorMessage.length !== 0) { %>
        <h2><%= errorMessage %></h2>

        <!-- user_favorite_shopDBに情報がある場合の表示 -->
        <% } else { %>
        <table>
          <tr>
            <th class="table-name">名称</th>
            <th class="table-place">場所</th>
            <th class="table-memo">メモ</th>
          </tr>

          <% allShopInfo.forEach((shopInfo) => { %>
          <tr>
            <td class="name-column"><%= shopInfo.shop_name %></td>
            <td class="location-column">
              <a href="/list/<%= categoryIndex %>/map/<%= shopInfo.id %>"
                ><%= shopInfo.shop_location %></a
              >
            </td>
            <td class="description-column"><%= shopInfo.shop_description %></td>
            <!-- 編集ボタン -->
            <td class="list-edit">
              <a
                class="edit-button"
                href="/list/<%= categoryIndex %>/edit/<%= shopInfo.id %>"
                >編集</a
              >
            </td>
            <!-- 削除ボタン -->
            <td class="list-delete">
              <form
                action="/list/<%= categoryIndex %>/<%= shopInfo.id %>"
                method="post"
              >
                <input
                  class="delete-button"
                  type="submit"
                  value="削除"
                  onclick="return confirm('削除してよろしいですか？');"
                />
              </form>
            </td>
          </tr>
          <% }) %>
        </table>
        <% } %>

        <!-- 新規登録ボタン -->
        <a class="register-button" href="/list/<%= categoryIndex %>/create"
          >新規作成</a
        >
      </div>
    </main>
    <footer></footer>
  </body>
</html>
