<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>favorite shop list</title>
  </head>
  <body>
    <header>
      <a href="/">トップ</a>
      &nbsp;>&nbsp;
      <a href="/login">ログイン</a>
      &nbsp;>&nbsp;
      <a href="/category">カテゴリー</a>
      &nbsp;>&nbsp;メモ
    </header>

    <main>
      <div class="list">
        <h1><%= `${locals.selectedCategory}` %></h1>

        <!-- user_favorite_shopDBに情報がない場合の表示 -->
        <% if (errorMessage.length !== 0) { %>
        <h2><%= errorMessage %></h2>

        <!-- user_favorite_shopDBに情報がある場合の表示 -->
        <% } else { %>
        <table>
          <tr>
            <th>名称</th>
            <th>場所</th>
            <th>メモ</th>
          </tr>

          <% allShopInfo.forEach((shopInfo) => { %>
          <tr>
            <td class="name-column"><%= shopInfo.shop_name %></td>
            <td class="location-column"><%= shopInfo.shop_location %></td>
            <td class="description-column"><%= shopInfo.shop_description %></td>
            <!-- 編集ボタン -->
            <td class="list-edit">
              <a
                class="edit-button"
                href="/list/<%= categoryIndex %>/edit/<%= shopInfo.id %>"
                >編集</a
              >
            </td>
            <!-- 削除ボタン -->
            <td class="list-delete">
              <form
                action="/list/<%= categoryIndex %>/<%= shopInfo.id %>"
                method="post"
              >
                <input class="delete-button" type="submit" value="削除" />
              </form>
            </td>
          </tr>
          <% }) %>
        </table>
        <% } %>

        <!-- 新規登録ボタン -->
        <a class="register-button" href="/list/<%= categoryIndex %>/create"
          >新規登録</a
        >
      </div>
    </main>
    <footer></footer>
  </body>
</html>
