<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>map</title>

    <!-- Dynamic Library Importを使用してMaps JavaScriptAPIを読み込む -->
    <script>
      ((g) => {
        var h,
          a,
          k,
          p = "The Google Maps JavaScript API",
          c = "google",
          l = "importLibrary",
          q = "__ib__",
          m = document,
          b = window;
        b = b[c] || (b[c] = {});
        var d = b.maps || (b.maps = {}),
          r = new Set(),
          e = new URLSearchParams(),
          u = () =>
            h ||
            (h = new Promise(async (f, n) => {
              await (a = m.createElement("script"));
              e.set("libraries", [...r] + "");
              for (k in g)
                e.set(
                  k.replace(/[A-Z]/g, (t) => "_" + t[0].toLowerCase()),
                  g[k]
                );
              e.set("callback", c + ".maps." + q);
              a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
              d[q] = f;
              a.onerror = () => (h = n(Error(p + " could not load.")));
              a.nonce = m.querySelector("script[nonce]")?.nonce || "";
              m.head.append(a);
            }));
        d[l]
          ? console.warn(p + " only loads once. Ignoring:", g)
          : (d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)));
      })({
        key: "<%= apiKey %>",
        v: "weekly",
        // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
        // Add other bootstrap parameters as needed, using camel case.
      });
    </script>
  </head>
  <body>
    <header>
      <div class="header-container">
        <a href="/">トップ</a>
        &nbsp;>&nbsp;
        <a href="/login">ログイン</a>
        &nbsp;>&nbsp;
        <a href="/category">カテゴリー</a>
        &nbsp;>&nbsp;
        <a href="/list/<%= categoryIndex %>"><%= selectedCategory %></a>
        &nbsp;>&nbsp; <%= shopInfo.shop_name %> &nbsp;>&nbsp;マップ
      </div>
    </header>

    <main>
      <div class="map-container">
        <h1><%= shopInfo.shop_location %></h1>
        <div class="map" id="map"></div>
        <script type="text/JavaScript">
          // Google Mapsの初期化
          async function initMap() {
            const { Map } = await google.maps.importLibrary("maps");

            let map = new Map(document.getElementById("map"), {
              center: { lat: 35.6811673, lng: 139.7670516 },
              zoom: 15,
              mapTypeId: "roadmap",
            });
          }
        </script>

        <script
          async
          defer
          src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&callback=initMap"
        ></script>
      </div>
    </main>
  </body>
</html>
