<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Memo list</title>
  </head>
  <body>
    <header>
      <div class="header-container">
        <a href="/">トップ</a>
        &nbsp;>&nbsp;
        <a href="/login">ログイン</a>
        &nbsp;>&nbsp;
        <a href="/category">カテゴリー</a>
        &nbsp;>&nbsp;<%=locals.selectedCategory%>
      </div>
    </header>

    <main>
      <div class="memo-list">
        <a href="/memo/<%= categoryIndex %>/edit" class="edit-category"
          ><%= locals.selectedCategory %></a
        >

        <!-- DBに情報がない場合の表示 -->
        <% if (errorMessage.length !== 0) { %>
        <h1><%= errorMessage %></h1>

        <!-- DBに情報がある場合の表示 -->
        <% } else { %>
        <table>
          <tr>
            <th class="table-name">ショップ</th>
            <th class="table-memo">メモ</th>
          </tr>

          <% allShopInfo.forEach((shopInfo) => { %>
          <tr class="draggable" draggable="true">
            <td>
              <a
                href="/memo/<%= categoryIndex %>/map/<%= shopInfo.id %>"
                class="map-link"
                ><%= shopInfo.shop_name %></a
              >
            </td>
            <td class="description-td"><%= shopInfo.shop_description %></td>
            <!-- 編集ボタン -->
            <td class="memo-edit">
              <a
                href="/memo/<%= categoryIndex %>/edit/<%= shopInfo.id %>"
                class="memo-edit-button"
                >編集</a
              >
            </td>
            <!-- 削除ボタン -->
            <td class="memo-delete">
              <form
                action="/memo/<%= categoryIndex %>/<%= shopInfo.id %>"
                method="post"
              >
                <input
                  type="submit"
                  class="memo-delete-button"
                  value="削除"
                  onclick="return confirm('削除してよろしいですか？');"
                />
              </form>
            </td>
          </tr>
          <% }) %>
        </table>
        <% } %>

        <!-- 新規登録ボタン -->
        <a class="register-button" href="/memo/<%= categoryIndex %>/create"
          >新規作成</a
        >
      </div>

      <script type="module" src="/javascripts/sortMemo.js"></script>
    </main>
    <footer></footer>
  </body>
</html>
