<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Memo list</title>
  </head>
  <body>
    <header>
      <div class="header-container">
        <a href="/">トップ</a>
        &nbsp;>&nbsp;
        <a href="/login">ログイン</a>
        &nbsp;>&nbsp;
        <a href="/category">カテゴリー</a>
        &nbsp;>&nbsp;<%=selectedCategory%>
      </div>
    </header>

    <main>
      <div class="memo-list">
        <a href="/memo/<%= selectedCategoryIndex %>/edit" class="edit-category"
          ><%= selectedCategory %></a
        >

        <!-- DBに情報がない場合の表示 -->
        <% if (errorMessage.length !== 0) { %>
        <h1><%= errorMessage %></h1>

        <!-- DBに情報がある場合の表示 -->
        <% } else { %>
        <table>
          <tr>
            <th class="table-name">ショップ</th>
            <th class="table-memo">メモ</th>
          </tr>

          <% memos.forEach((memo) => { %>
          <tr class="draggable">
            <% if(memo.shop_hotpepperlink) { %>
            <td>
              <p class="memo-shop-name"><%= memo.shop_name %></p>
              <div class="link">
                <a
                  href="/memo/<%= selectedCategoryIndex %>/map/<%= memo.id %>"
                  class="map-link"
                  ><img
                    src="/images/google-map.png"
                    alt="google-map"
                    width="25" /></a
                ><br />
                <a
                  href="<%= memo.shop_hotpepperlink %>"
                  target="_blank"
                  class="hotpepper-link"
                  ><img src="/images/hotpepper.png" alt="hotpepper" width="20"
                /></a>
              </div>
            </td>
            <% } else { %>
            <td>
              <p class="memo-shop-name"><%= memo.shop_name %></p>
              <a
                href="/memo/<%= selectedCategoryIndex %>/map/<%= memo.id %>"
                class="map-link"
                ><img src="/images/google-map.png" alt="google-map" width="25"
              /></a>
            </td>

            <% } %>

            <td><%= memo.shop_description %></td>

            <!-- 編集ボタン -->
            <td class="memo-edit">
              <a
                href="/memo/<%= selectedCategoryIndex %>/edit/<%= memo.id %>"
                class="memo-edit-button"
                >編集</a
              >
            </td>
            <!-- 削除ボタン -->
            <td class="memo-delete">
              <form
                action="/memo/<%= selectedCategoryIndex %>/<%= memo.id %>"
                method="post"
              >
                <input
                  type="submit"
                  class="memo-delete-button"
                  value="削除"
                  onclick="return confirm('削除してよろしいですか？');"
                />
              </form>
            </td>
          </tr>
          <% }) %>
        </table>
        <% } %>

        <!-- 新規登録ボタン -->
        <a
          class="register-button"
          href="/memo/<%= selectedCategoryIndex %>/create"
          >新規作成</a
        >
      </div>

      <script type="module" src="/javascripts/sortMemo.js"></script>
    </main>
    <footer></footer>
  </body>
</html>
