<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Sign up</title>
  </head>
  <body>
    <header>
      <div class="header-container">
        <a href="/">トップ</a>
        &nbsp;>&nbsp;
        <a href="/login">ログイン</a>
        &nbsp;>&nbsp;ユーザー登録
      </div>
    </header>

    <main>
      <div class="signup">
        <h1>ユーザー登録</h1>
        <form action="/signUp" method="post">
          <label for="user-name">ユーザー名</label>

          <!-- 入力値が空の場合のエラー表示 -->
          <% if (Object.keys(errors).length > 0) { %>
          <p class="error"><%= errors.userName %></p>
          <% } %>

          <input
            type="text"
            id="user-name"
            name="userName"
            placeholder="tarou"
            value="<%= userName %>"
          />
          <label for="email">メールアドレス</label>

          <!-- 入力値が空の場合のエラー表示 -->
          <% if (Object.keys(errors).length > 0) { %>
          <p class="error"><%= errors.email %></p>
          <% } %>

          <input
            type="text"
            id="email"
            name="email"
            placeholder="〇〇@test.com"
            value="<%= email %>"
          />

          <label for="password">パスワード</label>

          <!-- 入力値が空の場合のエラー表示 -->
          <% if (Object.keys(errors).length > 0) { %>
          <p class="error"><%= errors.password %></p>
          <% } %>

          <input id="password" type="password" name="password" />
          <input
            type="submit"
            class="button"
            value="登録"
            onclick="return confirm('登録してよろしいですか？');"
          />
        </form>
      </div>
    </main>
  </body>
</html>
